.container_home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.profil {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}
.login_logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_logout button {
  border-radius: 20px;
  background-color: var(--text-bg-color);
  cursor: pointer;
}
.profil img {
  width: 9vh;
  height: 9vh;
  border-radius: 40px;
  margin: 1rem;
}
.profil p {
  color: var(--text-bg-color);
  font-family: var(--text-font-family);
  font-size: 1.3rem;
}
.search_bar {
  grid-area: 1 / 2 / 2 / 5;
  align-items: center;
  justify-content: end;
  display: flex;
}
.search_bar input {
  width: 60%;
  height: 1.5rem;
  border-radius: 20px;
  border: none;
  padding: 0 1rem;
  font-size: 1.3rem;
}
.home_logo {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  justify-content: end;
}
.home_logo img {
  width: 9vh;
  height: 9vh;
  margin: 1rem;
}
.containeur_section {
  grid-area: 2 / 1 / 7 / 2;
  display: flex;
  align-items: center;
  height: 100%;
}
.ulSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  color: var(--text-bg-color);
  font-family: var(--text-font-family);
  font-size: 1.3rem;
  text-decoration: none;
}

.containeur_movies {
  grid-area: 2 / 2 / 7 / 6;
  border: 0.2rem solid white;
  margin: 4vh;
  border-radius: 30px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: auto;
}
.containeur_movies::-webkit-scrollbar {
  display: none;
}
.link_nav {
  cursor: pointer;
}
.futur {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: var(--text-bg-color);
  font-family: var(--text-font-family);
}
