.containeur_inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--c);
  color: var(--text-bg-color);
}
.containeur_inscription label {
  text-align: center;
  align-items: center;
}

.containeur_inscription input {
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 20rem;
}
